.home {
	background-color: $border-dark;
	&__container {
		margin: 0 auto;
		padding: 0 1rem;
		max-width: 75rem;
		height: 879px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
