// Variables colors palette

$base-color: #1f550d;
$border-dark: rgba($base-color, 0.8);

// Variables Typography

$base-typography: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$border-dark: rgba($base-color, 0.88);
